<div class="contenedor_xl">
  <div>
    <a routerlink="/admin"
       class="cursor-pointer boton transition-all duration-300 ease-in-out">
      Atrás
    </a>
  </div>
  <h2 class="text-3xl font-bold text-center mb-8 mt-8 text-letra">
    Gestión de Usuarios
  </h2>
  <div class="contenedor_md flex justify-end gap-3 mb-2">
    <button type="button"
            class="text-xs3 text-letra mr-3 cursor-pointer
                   transition-colors duration-300 ease-in-out
                   hover:text-yellow-700 p-1">
      <i class="fa-solid fa-plus"></i>
      Añadir
    </button>
  </div>

  <!-- Clase tabla-responsive para que opere el CSS externo -->
  <table class="contenedor_md tabla-responsive w-full text-left
                border-collapse rounded-xl overflow-hidden shadow-lg">
    <thead class="bg-bordes text-logo uppercase text-sm">
      <tr>
        <th class="px-4 py-3">Usuario</th>
        <th class="px-4 py-3">Email</th>
        <th class="px-4 py-3">Roles</th>
        <th class="px-4 py-3 text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users" class="border-b">
        <td data-label="Usuario" class="px-4 py-3">{{ u.username }}</td>
        <td data-label="Email"   class="px-4 py-3">{{ u.email }}</td>
        <td data-label="Roles"   class="px-4 py-3">{{ u.roles.join(', ') }}</td>
        <td data-label="Acciones" class="px-4 py-3 text-center space-x-8">
          <a class="text-yellow-600 hover:text-yellow-700 cursor-pointer
                     transition-all duration-300 ease-in-out">
            <i class="fas fa-edit"></i>
          </a>
          <a class="text-red-500 hover:text-red-700 cursor-pointer
                     transition-all duration-300 ease-in-out">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>