<main class="relative min-h-screen overflow-hidden" [@routeAnimations]="prepareRoute(outlet)">
  <app-header></app-header>
  <router-outlet #outlet="outlet"></router-outlet>
  <app-toast></app-toast>
</main>

<!--
<main class="relative min-h-screen overflow-hidden" [@routeAnimations]="prepareRoute(outlet)">
  Imagen de fondo global 
  <picture class="absolute inset-0 w-full h-full -z-10">
    <source srcset="/assets/optimized/login.avif" type="image/avif" />
    <source srcset="/assets/optimized/login.webp" type="image/webp" />
    <img 
      src="/assets/optimized/login.png" 
      alt="Imagen de fondo"
      class="w-full h-full object-cover blur-sm brightness-75"
    />
  </picture>

  Contenido de la app 
  <app-header></app-header>
  <router-outlet #outlet="outlet"></router-outlet>
  <app-toast></app-toast>
</main>
-->